body{
    background-color: #333;
}
h2{
    color: red;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
}
div.menu{
    display: flex;
}
.rodape{
    position: flex;
    bottom: 0;
    left: 0;
    width: 100%;
}