body{
    background-color: #333;
}
h2{
    color: red;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
}
div.menu{
    display: flex;
}
.rodape{
    position: absolute;
    bottom: 0px;
    width: 100%;
}
p{
    color: white;
}